# test file
test.py
sqlite.db

# fine-tuning model (big)
/results/
/models/

/llama.cpp/

# fine-tuning result
/wandb/

# python cache
__pycache__/

# unsloth temp file
_unsloth_*

# log file
AIFuzz.log

# junk
*.txt
*.csv

# exclusive file
payloads.yaml